{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Contenu principal -->
<section id="section1" class="section main-content">
  <video class="background-video" autoplay muted loop playsinline>
    <source src="{% static 'Videos/font.mp4' %}" type="video/mp4">
  </video>

  <div class="container" data-aos="fade-up">
    <div class="content has-text-centered">
      <br><br><br>
      <h1 class="title is-accent">NelsonDev</h1>
      <br>
      <p class="subtitle">Solutions Web<br>modernes & performantes</p>
      <a href="https://calendly.com/dev-nelsoncaterino/rendez-vous" class="button is-primary mt-4">
        Prendre Rendez-vous
      </a>
    </div>
  </div>
</section>

  </div>
</section>


<section id="section2" class="section has-background-black">
  <div class="container" data-aos="fade-up">
    
    <!-- Titre centré -->
    <div class="content has-text-centered">
      <h2 class="title has-text-primary">Expriences</h2>
      <p class="subtitle has-text-light">Les différents langages et outils que je maîtrise</p>
    </div>

    <!-- Grille de compétences -->
    <div class="columns is-multiline">
      
      <!-- HTML -->
      <div class="column is-half-tablet is-one-third-desktop">
        <div class="box has-background-black has-text-light" data-aos="fade-up">
          <p class="title is-5 has-text-primary">HTML</p>
          <progress class="progress is-primary" value="90" max="100">90%</progress>
          <p class="has-text-right">90%</p>
        </div>
      </div>

      <!-- CSS -->
      <div class="column is-half-tablet is-one-third-desktop">
        <div class="box has-background-black has-text-light" data-aos="fade-up">
          <p class="title is-5 has-text-primary">CSS</p>
          <progress class="progress is-link" value="70" max="100">70%</progress>
          <p class="has-text-right">70%</p>
        </div>
      </div>

      <!-- JavaScript -->
      <div class="column is-half-tablet is-one-third-desktop">
        <div class="box has-background-black has-text-light" data-aos="fade-up">
          <p class="title is-5 has-text-primary">JavaScript</p>
          <progress class="progress is-warning" value="30" max="100">30%</progress>
          <p class="has-text-right">30%</p>
        </div>
      </div>

      <!-- Django -->
      <div class="column is-half-tablet is-one-third-desktop">
        <div class="box has-background-black has-text-light" data-aos="fade-up">
          <p class="title is-5 has-text-primary">Django</p>
          <progress class="progress is-success" value="40" max="100">40%</progress>
          <p class="has-text-right">40%</p>
        </div>
      </div>

      <!-- Bulma -->
      <div class="column is-half-tablet is-one-third-desktop">
        <div class="box has-background-black has-text-light" data-aos="fade-up">
          <p class="title is-5 has-text-primary">Bulma</p>
          <progress class="progress is-link" value="50" max="100">50%</progress>
          <p class="has-text-right">50%</p>
        </div>
      </div>

      <!-- Bootstrap -->
      <div class="column is-half-tablet is-one-third-desktop">
        <div class="box has-background-black has-text-light" data-aos="fade-up">
          <p class="title is-5 has-text-primary">Bootstrap</p>
          <progress class="progress is-warning" value="80" max="100">80%</progress>
          <p class="has-text-right">80%</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="section3" class="section">
    
  <div class="container" data-aos="fade-up">
    <div class="content has-text-centered">
      
      <br>
      <h2 class="title is-accent">Nos Services</h2>
      <p class="subtitle">Découvrez ce que nous offrons</p>

      <div class="columns pricing-table">
        <div class="column">
          <div class="pricing-plan">
            <h2 class="plan-title">Site Vitrine</h2>
            <div class="plan-price">5000€/apd</div>
            <ul class="plan-features">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="pricing-plan">
            <h2 class="plan-title">Web App</h2>
            <div class="plan-price">8000€/apd</div>
            <ul class="plan-features">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
</section>

<section id="section4" class="section">
  <div class="container" data-aos="fade-up">
    
    <!-- Titre centré au-dessus -->
    <div class="content has-text-centered">
      <h2 class="title is-accent">À Propos</h2>
      <p class="subtitle">En savoir plus sur nous</p>
    </div>
<br><br>
    <br><!-- Contenu en colonnes -->
    <div class="columns is-vcentered is-variable">
      
      <!-- Colonne image -->
      <div class="column">
        <figure class="image" data-aos="zoom-in">
          <img src="{% static 'img/moi.png' %}" alt="Photo 1">
        </figure>
      </div>

      <!-- Colonne texte -->
      <div class="column is-7">
        <p>
          Nous sommes passionnés par l'innovation, 7
          le design et le développement de solutions web sur mesure. 
          Notre mission est d'accompagner nos clients dans leurs projets numériques avec créativité et rigueur.
        </p>
      </div>

    </div>
  </div>
</section>

<section id="section4" class="section has-background-black">
  <div class="container" data-aos="fade-up">

    <!-- Titre -->
    <div class="content has-text-centered">
      <h2 class="title is-accent">Contact</h2>
      <p class="subtitle is-5 has-text-grey-light">Prenez contact avec nous</p>
    </div>
    <br>
    <br>
    

    <div class="columns is-vcentered is-variabl is-multiline">

      <!-- Infos de contact -->
      <div class="column is-half">
        <div class="content contact-Box">

          
          <div class="media mb-5">
            <div class="media-left">
              <span class="icon is-medium has-text-primary">
                <i class="fas fa-map-marker-alt fa-lg"></i>
              </span>
            </div>
            <div class="media-content">
              <p class="has-text-weight-semibold has-text-white">Adresse</p>
              <a href="https://maps.app.goo.gl/6Khx66ijCzb71BLy5" target="_blank" class="has-text-link-light">
                Avenue Louise 500, 1050 Bruxelles
              </a>
            </div>
          </div>

          <div class="media mb-5">
            <div class="media-left">
              <span class="icon is-medium has-text-primary">
                <i class="fas fa-phone fa-lg"></i>
              </span>
            </div>
            <div class="media-content">
              <p class="has-text-weight-semibold has-text-white">Téléphone</p>
              <a href="tel:+32 478 03 22 26" class="has-text-link-light">+32 478 03 22 26</a>
            </div>
          </div>

          <div class="media mb-5">
            <div class="media-left">
              <span class="icon is-medium has-text-primary">
                <i class="fas fa-envelope fa-lg"></i>
              </span>
            </div>
            <div class="media-content">
              <p class="has-text-weight-semibold has-text-white">Email</p>
              <a href="mailto:dev.nelsoncaterino@gmail.com" class="has-text-link-light">dev.nelsoncaterino@gmail.com</a>
            </div>
          </div>

          <div class="media">
            <div class="media-left">
              <span class="icon is-medium has-text-primary">
                <i class="fas fa-clock fa-lg"></i>
              </span>
            </div>
            <div class="media-content">
              <p class="has-text-weight-semibold has-text-white">Horaires</p>
              <p  class="has-text-link-light">Lundi – Vendredi : 9h00 – 18h00</p>
            </div>
          </div>
        </div>
      </div>
  <br>
  <br>

      <!-- Google Map agrandie -->
      <div class="column is-half">
        <div class="box p-0 is-clickable" style="overflow: hidden; border-radius: 8px;"
             onclick="window.open('https://maps.app.goo.gl/6Khx66ijCzb71BLy5', '_blank')">
          
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.791032623536!2d4.369787676083594!3d50.81651026094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4ef5295e50b%3A0x182592403ae2a2a8!2sAv.%20Louise%20500%2C%201050%20Bruxelles!5e0!3m2!1sfr!2sbe!4v1748011842223!5m2!1sfr!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}